
label{
	font-size: 14px;
}

.chec{
    text-decoration: line-through;

}

ul {
list-style:none;
}

li{
  background-color: lightblue;
  font-size: 18px;
  color: green;
}
.anadirbuttom{
  background-color: blue;
}

button{
  font-size: 14px;
  background-color: yellow;
}
